{{ define "main" }}
<div class="post-header">
  <h1>{{ with .Params.heading }}{{ . }}{{ else }}{{ .Title }}{{ end }}</h1>
  {{ if not .Date.IsZero }}
  <div style="color: #9d9d9d; font-style: italic; margin-top: -20px; margin-bottom: 30px; font-size: 14px;">
    {{ .Date.Format "January 2, 2006" }} · {{ .ReadingTime }} min read
    {{ range .Params.tags }}<span class="tag">{{ . }}</span>{{ end }}
  </div>
  {{ end }}
</div>

<div class="post-content" style="line-height: 1.8;">
  {{ .Content }}
</div>

<a href="{{ "/" | relURL }}" style="display: inline-block; margin-top: 50px; margin-bottom: 30px; color: #8f6a60;">← Back to home</a>
{{ end }}
